<!DOCTYPE html>
<!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <title>Interactive Map</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #map {
      height: 100%;
    }
  </style>
</head>
<body>
<div id="map"></div>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: {{ zoom }},
      center: {lat: {{ lat }}, lng: {{ long }}}
    });

    new google.maps.KmlLayer({
      url: '{{ kml_url }}',
      map: map,
      {% if preserve_viewport %}
        preserveViewport: true
      {% endif %}
    });

    {% for kml_layer in config.kml_layers %}
      new google.maps.KmlLayer({
        url: '{{ kml_layer }}',
        map: map,
        preserveViewport: true
      });
    {% endfor %}
  }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ config.google_maps_api_key }}&signed_in=true&callback=initMap">
</script>
</body>
</html>
